{% extends 'amweb/base.html' %}
{% load static %}
{% block content %}
	<!-- Start Slider -->
    <div id="slides-shop" class="cover-slides">
        <ul class="slides-container">
            <li class="text-left">
                <img src="{% static  'amweb/images/banner-01.jpg' %}" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="m-b-20"><strong>Welcome To <br> AfricaMarket</strong></h1>
                            <p class="m-b-40">Experience the hussle and bussle of african markets and get amazing african products or view<br> trends to see any changes in performance over time.</p>
                            <p><a class="btn hvr-hover" href="{% url 'amweb-accounts' %}">Shop Now</a></p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="text-center">
                <img src="{% static  'amweb/images/banner-02.jpg' %}" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="m-b-20"><strong>Welcome To <br> AficaMarket</strong></h1>
                            <p class="m-b-40">Experience the hussle and bussle of african markets and get amazing african products or view <br> trends to see any changes in performance over time.</p>
                            <p><a class="btn hvr-hover" href="#">Shop Now</a></p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="text-right">
                <img src="{% static 'amweb/images/banner-03.jpg' %}" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="m-b-20"><strong>Welcome To <br> AfricaMarket</strong></h1>
                            <p class="m-b-40">Experience the hussle and bussle of african markets and get amazing african products or view<br> trends to see any changes in performance over time.</p>
                            <p><a class="btn hvr-hover" href="#">Shop Now</a></p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="text-right">
                <img src="{% static 'amweb/images/banner-04.jpg' %}" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="m-b-20"><strong>Welcome To <br> AfricaMarket</strong></h1>
                            <p class="m-b-40">Experience the hussle and bussle of african markets and get amazing african products or view<br> trends to see any changes in performance over time.</p>
                            <p><a class="btn hvr-hover" href="#">Shop Now</a></p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="text-right">
                <img src="{% static 'amweb/images/banner-05.jpg' %}" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="m-b-20"><strong>Welcome To <br> AfricaMarket</strong></h1>
                            <p class="m-b-40">Experience the hussle and bussle of african markets and get amazing african products or view<br> trends to see any changes in performance over time.</p>
                            <p><a class="btn hvr-hover" href="#">Shop Now</a></p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="text-right">
                <img src="{% static 'amweb/images/banner-06.jpg' %}" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="m-b-20"><strong>Welcome To <br> AfricaMarket</strong></h1>
                            <p class="m-b-40">Experience the hussle and bussle of african markets and get amazing african products or view<br> trends to see any changes in performance over time.</p>
                            <p><a class="btn hvr-hover" href="#">Shop Now</a></p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="text-right">
                <img src="{% static 'amweb/images/banner-07.jpg' %}" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="m-b-20"><strong>Welcome To <br> AfricaMarket</strong></h1>
                            <p class="m-b-40">Experience the hussle and bussle of african markets and get amazing african products or view<br> trends to see any changes in performance over time.</p>
                            <p><a class="btn hvr-hover" href="#">Shop Now</a></p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="text-right">
                <img src="{% static 'amweb/images/banner-08.jpg' %}" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="m-b-20"><strong>Welcome To <br> AfricaMarket</strong></h1>
                            <p class="m-b-40">Experience the hussle and bussle of african markets and get amazing african products or view<br> trends to see any changes in performance over time.</p>
                            <p><a class="btn hvr-hover" href="#">Shop Now</a></p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="slides-navigation">
            <a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
            <a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
        </div>
    </div>
    <!-- End Slider -->

    <!-- Start Categories  -->
    <div class="contact-info-left">
        <div class="content-section">
            <div class="categories-shop">
                <div class="container">
                    <div class="row">
                        {% for she in shelf %}
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <div class="shop-cat-box">
                                    <img class="img-fluid" src="{{she.image.url}}" alt="" />
                                    <a class="btn hvr-hover" href="{% url 'itemsone' she.shelf_owner.user.store_name she.pk she.slug %}"></a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <!-- End Categories -->

            <!-- Start Products  -->
            <div class="container">
                <div class="products-box">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="title-all text-center">
                                <h1>Featured Products</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet lacus enim.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="special-menu text-center">
                                <div class="button-group filter-button-group">
                                    <button class="active" data-filter="*">All</button>
                                    <button data-filter=".top-featured">Top featured</button>
                                    <button data-filter=".best-seller">Best seller</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row special-list">
                        <div class="col-lg-3 col-md-6 special-grid best-seller">
                            <div class="products-single fix">
                                <div class="box-img-hover">
                                    <div class="type-lb">
                                        <p class="sale">Sale</p>
                                    </div>
                                    <img src="{% static 'amweb/images/img-pro-01.jpg' %}" class="img-fluid" alt="Image">
                                    <div class="mask-icon">
                                        <ul>
                                            <li><a href="#" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                            <li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fas fa-sync-alt"></i></a></li>
                                            <li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                                        </ul>
                                        <a class="cart" href="#">Add to Cart</a>
                                    </div>
                                </div>
                                <div class="why-text">
                                    <h4>Lorem ipsum dolor sit amet</h4>
                                    <h5> $7.79</h5>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 special-grid top-featured">
                            <div class="products-single fix">
                                <div class="box-img-hover">
                                    <div class="type-lb">
                                        <p class="new">New</p>
                                    </div>
                                    <img src="{% static 'amweb/images/img-pro-02.jpg' %}" class="img-fluid" alt="Image">
                                    <div class="mask-icon">
                                        <ul>
                                            <li><a href="#" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                            <li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fas fa-sync-alt"></i></a></li>
                                            <li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                                        </ul>
                                        <a class="cart" href="#">Add to Cart</a>
                                    </div>
                                </div>
                                <div class="why-text">
                                    <h4>Lorem ipsum dolor sit amet</h4>
                                    <h5> $9.79</h5>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 special-grid top-featured">
                            <div class="products-single fix">
                                <div class="box-img-hover">
                                    <div class="type-lb">
                                        <p class="sale">Sale</p>
                                    </div>
                                    <img src="{% static 'amweb/images/img-pro-03.jpg' %}" class="img-fluid" alt="Image">
                                    <div class="mask-icon">
                                        <ul>
                                            <li><a href="#" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                            <li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fas fa-sync-alt"></i></a></li>
                                            <li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                                        </ul>
                                        <a class="cart" href="#">Add to Cart</a>
                                    </div>
                                </div>
                                <div class="why-text">
                                    <h4>Lorem ipsum dolor sit amet</h4>
                                    <h5> $10.79</h5>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 special-grid best-seller">
                            <div class="products-single fix">
                                <div class="box-img-hover">
                                    <div class="type-lb">
                                        <p class="sale">Sale</p>
                                    </div>
                                    <img src="{% static 'amweb/images/img-pro-04.jpg' %}" class="img-fluid" alt="Image">
                                    <div class="mask-icon">
                                        <ul>
                                            <li><a href="#" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                            <li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fas fa-sync-alt"></i></a></li>
                                            <li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                                        </ul>
                                        <a class="cart" href="#">Add to Cart</a>
                                    </div>
                                </div>
                                <div class="why-text">
                                    <h4>Lorem ipsum dolor sit amet</h4>
                                    <h5> $15.79</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
                <!-- End Products  -->

                <!-- Start Blog  -->
                {% if postsize >= 3 %}
                    <div class="latest-blog">
                        <div class="contact-info-left">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="title-all text-center">
                                        <p><a class="btn btn-danger" href="{% url 'adminposts' %}">Click To View All Admin Posts</a></p>
                                    </div>
                                </div>
                            </div>
                            <h2 class="text-center"><p class="text-info">Latest Admin Posts</p></h2>
                            <div class="row">
                                {% for posta in latestposts %}
                                    <div class="col-md-6 col-lg-4 col-xl-4">
                                        <div class="blog-box">
                                            <div class="blog-img">
                                                {% if posta.image is not None %}
                                                    <img class="img-fluid" src="{{posta.image.url}}" alt="" />
                                                {% endif %}
                                                <h5><a class="text-primary" href="#">{{posta.author}}</a></h5>
                                                <link rel="stylesheet"  href="{% static 'flags/sprite-hq.css' %}">
                                                <i class="flag2x {{ posta.author.base_country.flag_css }}"></i>
                                                <h5>{{posta.author.base_country.name}}</h5>
                                            </div>
                                            <div class="blog-content">
                                                <div class="title-blog">
                                                    <h3>{{posta.title}}</h3>
                                                    <h6>{{posta.summary}}</h6>
                                                    <h4><a class="btn btn-outline-info" href="{% url 'adminpost_detail' posta.slug %}">View Post</a></h4>
                                                </div>
                                                <ul class="option-blog">
                                                    <li><a href="#" data-toggle="tooltip" data-placement="right" title="Likes"><i class="far fa-heart"></i></a></li>
                                                    <li><a href="#" data-toggle="tooltip" data-placement="right" title="Views"><i class="fas fa-eye"></i></a></li>
                                                    <li><a href="#" data-toggle="tooltip" data-placement="right" title="Comments"><i class="far fa-comments"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <!-- End Blog  -->
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}